Repository digiaonline/graphql-php, pull requests merged in 2018-06, with the labels that each got.

#236 Minor documentation changes
  README.md
  src/Execution/ValuesHelper.php
  src/Type/ScalarTypesProvider.php
  src/Util/utils.php
  tests/Functional/Execution/MutationTest.php
Labels: documentation

#243 Non-experimental SDL
  src/Language/Parser.php
Labels: SDL, enhancement, language, specification

#238 ExecutionResult field order
  src/Execution/ExecutionResult.php
Labels: execution, specification

#244 Link to read-only README of graphql-relay-php
  README.md
Labels: documentation

#237 Parse partial
  src/Language/Parser.php
  src/Language/ParserInterface.php
  tests/Functional/Language/ParserTest.php
Labels: SDL, enhancement, language
