Repository digiaonline/graphql-php, pull requests merged in 2018-11, with the labels that each got.

#332 Reduce the number of container calls
  composer.json
  src/Execution/Execution.php
  src/Execution/ExecutionProvider.php
  src/Execution/Executor.php
  src/Execution/FieldCollector.php
  src/Execution/ValuesHelper.php
  src/Execution/values.php
  src/Schema/DefinitionBuilder.php
  tests/Functional/Execution/ValuesHelperTest.php
Labels: performance, refactor

#335 Move error handling
  src/Execution/Execution.php
Labels: execution, refactor

#318 Error handler middleware
  src/Error/ErrorHandler.php
  src/Error/ErrorHandlerInterface.php
  src/Error/Handler/AbstractErrorMiddleware.php
  src/Error/Handler/CallableMiddleware.php
  src/Error/Handler/ErrorHandler.php
  src/Error/Handler/ErrorHandlerInterface.php
  src/Error/Handler/ErrorMiddlewareInterface.php
  src/Execution/Execution.php
  src/Execution/ExecutionInterface.php
  src/GraphQL.php
  src/api.php
  tests/Unit/Error/ErrorHandlerTest.php
  tests/Unit/Error/Handler/ErrorHandlerTest.php
Labels: enhancement, execution, public api

#337 Fix a couple of code analysis issues
  src/Error/GraphQLException.php
  src/Error/Handler/AbstractErrorMiddleware.php
  src/Error/Handler/CallableMiddleware.php
  src/Error/Handler/ErrorHandler.php
  src/Error/Handler/ErrorHandlerInterface.php
  src/Error/Handler/ErrorMiddlewareInterface.php
  src/Execution/Strategy/AbstractExecutionStrategy.php
  src/Language/utils.php
Labels: code quality
