Repository digiaonline/graphql-php, pull requests merged in 2018-04, with the labels that each got.

#170 Refactor comparators to use the container
  src/Execution/ValuesHelper.php
  src/Execution/values.php
  src/Util/TypeHelper.php
  src/Util/ValueHelper.php
  src/Validation/comparators.php
Labels: refactor, validation

#171 Refactor context creation
  src/Schema/Building/BuilderContextCreator.php
  src/Schema/Building/BuilderContextCreatorInterface.php
  src/Schema/Building/BuildingContext.php
  src/Schema/Building/BuildingContextInterface.php
  src/Schema/Building/SchemaBuilder.php
  src/Schema/Building/SchemaBuilderInterface.php
  src/Schema/Building/SchemaBuildingProvider.php
  src/Schema/Extension/ExtensionContextCreator.php
  src/Schema/Extension/ExtensionContextCreatorInterface.php
  src/Schema/Extension/SchemaExtender.php
  src/Schema/Extension/SchemaExtenderInterface.php
  src/Schema/Extension/SchemaExtensionProvider.php
  src/Schema/Validation/SchemaValidationProvider.php
  src/Schema/Validation/SchemaValidator.php
  src/Schema/Validation/SchemaValidatorInterface.php
  src/Schema/Validation/ValidationContextCreator.php
  src/Schema/Validation/ValidationContextCreatorInterface.php
  src/Validation/ValidationContextCreator.php
  src/Validation/ValidationContextCreatorInterface.php
  src/Validation/ValidationProvider.php
  src/Validation/Validator.php
  src/Validation/ValidatorInterface.php
Labels: dependency injection, refactor

#173 Refactor definition builder usage
  src/Error/BuildingException.php
  src/GraphQL.php
  src/Schema/Building/BuildInfo.php
  src/Schema/Building/BuildingContext.php
  src/Schema/Building/BuildingContextInterface.php
  src/Schema/Building/SchemaBuilder.php
  src/Schema/Building/SchemaBuildingProvider.php
  src/Schema/DefinitionBuilder.php
  src/Schema/DefinitionBuilderCreator.php
  src/Schema/DefinitionBuilderCreatorInterface.php
  src/Schema/Extension/ExtendInfo.php
  src/Schema/Extension/ExtensionContext.php
  src/Schema/Extension/ExtensionContextInterface.php
  src/Schema/Extension/SchemaExtender.php
  src/Schema/Extension/SchemaExtensionProvider.php
  src/Schema/SchemaProvider.php
Labels: refactor, schema

#174 Class-based resolvers
  src/GraphQL.php
  src/Schema/Building/BuildingContext.php
  src/Schema/Building/SchemaBuilder.php
  src/Schema/Building/SchemaBuilderInterface.php
  src/Schema/DefinitionBuilder.php
  src/Schema/Resolver/AbstractResolver.php
  src/Schema/Resolver/ArrayResolver.php
  src/Schema/Resolver/ResolverInterface.php
  src/Schema/Resolver/ResolverRegistry.php
  src/Schema/Resolver/ResolverRegistryInterface.php
  src/Schema/ResolverMapRegistry.php
  tests/Unit/Schema/Resolver/ResolverRegistryTest.php
Labels: refactor, schema

#181 Fix type-hint for buildLocatedError
  src/Execution/ExecutionStrategy.php
Labels: bug, execution

#183 Missing schema validation tests
  src/Schema/DefinitionBuilder.php
  src/Schema/Extension/ExtendInfo.php
  src/Schema/Extension/ExtensionContext.php
  src/Schema/Validation/Rule/TypesRule.php
  tests/Functional/Schema/ValidationTest.php
Labels: tests, validation

#169 Execution variable test
  src/Error/CoercingException.php
  src/Error/InvalidTypeException.php
  src/Execution/CoercedValue.php
  src/Execution/Execution.php
  src/Execution/ExecutionContextBuilder.php
  src/Execution/Path.php
  src/Execution/ValuesHelper.php
  src/Execution/values.php
  src/Language/Node/EnumValueNode.php
  src/Language/Node/ListValueNode.php
  src/Language/Node/NonNullTypeNode.php
  src/Language/Node/VariableDefinitionNode.php
  src/Type/IntrospectionProvider.php
  src/Util/ValueHelper.php
  tests/Functional/Execution/VariablesTest.php
  tests/Unit/Util/ValueHelperTest.php
Labels: execution, tests

#187 Support for resolving types
  src/Schema/DefinitionBuilder.php
  src/Schema/Resolver/AbstractResolver.php
  src/Schema/Resolver/ArrayResolver.php
  src/Schema/Resolver/ResolverInterface.php
  src/Schema/Resolver/ResolverRegistry.php
  src/Schema/Resolver/ResolverRegistryInterface.php
  tests/Unit/Schema/Resolver/ResolverRegistryTest.php
Labels: enhancement, schema

#184 Lexer unit tests
  src/Error/GraphQLException.php
  src/Language/ASTBuilder.php
  src/Language/Lexer.php
  src/Language/SourceLocation.php
  src/Language/Token.php
  src/Language/TokenReader.php
  src/Language/TokenReaderInterface.php
  src/Language/utils.php
  tests/Functional/Language/ParserTest.php
  tests/Unit/Language/LexerTest.php
Labels: language, preformance, refactor, tests

#200 Introduce FieldCollector
  src/Execution/ExecutionContext.php
  src/Execution/ExecutionContextBuilder.php
  src/Execution/Executor.php
  src/Execution/FieldCollector.php
Labels: execution

#201 Remove configuration concept
  src/Config/ConfigAwareInterface.php
  src/Config/ConfigAwareTrait.php
  src/Execution/Executor.php
  src/Execution/values.php
  src/Language/Lexer.php
  src/Language/Node/ASTNodeAwareInterface.php
  src/Language/Node/ASTNodeTrait.php
  src/Schema/DefinitionBuilder.php
  src/Schema/DefinitionBuilderInterface.php
  src/Schema/Extension/ExtensionContext.php
  src/Schema/Schema.php
  src/Schema/Validation/Rule/DirectivesRule.php
  src/Schema/Validation/Rule/TypesRule.php
  src/Type/Definition/AbstractTypeInterface.php
  src/Type/Definition/Argument.php
  src/Type/Definition/ArgumentsTrait.php
  src/Type/Definition/CompositeTypeInterface.php
  src/Type/Definition/DefaultValueTrait.php
  src/Type/Definition/DeprecationTrait.php
  src/Type/Definition/DescriptionTrait.php
  src/Type/Definition/Directive.php
  src/Type/Definition/DirectiveInterface.php
  src/Type/Definition/EnumType.php
  src/Type/Definition/EnumValue.php
  src/Type/Definition/ExtensionASTNodesTrait.php
  src/Type/Definition/Field.php
  src/Type/Definition/FieldsTrait.php
  src/Type/Definition/InputField.php
  src/Type/Definition/InputObjectType.php
  src/Type/Definition/InputTypeInterface.php
  src/Type/Definition/InterfaceType.php
  src/Type/Definition/LeafTypeInterface.php
  src/Type/Definition/ListType.php
  src/Type/Definition/NameTrait.php
  src/Type/Definition/NonNullType.php
  src/Type/Definition/ObjectType.php
  src/Type/Definition/OfTypeTrait.php
  src/Type/Definition/OutputTypeInterface.php
  src/Type/Definition/ResolveTrait.php
  src/Type/Definition/ResolveTypeTrait.php
  src/Type/Definition/ScalarType.php
  src/Type/Definition/SpecifiedDirectiveEnum.php
  src/Type/Definition/TypeNameEnum.php
  src/Type/Definition/TypeTrait.php
  src/Type/Definition/UnionType.php
  src/Type/Definition/WrappingTypeInterface.php
  src/Type/IntrospectionProvider.php
  src/Type/definition.php
  src/Type/directives.php
  tests/Functional/Execution/ExecutionTest.php
  tests/Functional/Execution/MutationTest.php
  tests/Functional/Language/VisitorTest.php
  tests/Functional/Schema/ExtensionTest.php
  tests/Functional/Schema/SchemaTest.php
  tests/Functional/Type/DefinitionTest.php
Labels: refactor, schema, typesystem

#203 Introduce subscribe method to Field
  src/Type/Definition/Field.php
  src/Type/Definition/FieldsTrait.php
  src/Type/Definition/ObjectType.php
  src/Type/IntrospectionProvider.php
Labels: enhancement, typesystem

#206 Refactor type definition functions
  src/Schema/Schema.php
  src/Type/Definition/EnumType.php
  src/Type/Definition/InputField.php
  src/Type/Definition/InterfaceType.php
  src/Type/definition.php
Labels: refactor, schema, typesystem

#208 Refactor printer
  src/Language/LanguageProvider.php
  src/Language/Printer.php
  src/Language/Visitor/ParallelVisitor.php
  src/Language/Visitor/Visitor.php
  src/Language/Visitor/VisitorBreak.php
  src/Language/Visitor/VisitorInterface.php
  src/Language/Writer/AbstractWriter.php
  src/Language/Writer/ArgumentWriter.php
  src/Language/Writer/BooleanValueWriter.php
  src/Language/Writer/DirectiveWriter.php
  src/Language/Writer/DocumentWriter.php
  src/Language/Writer/EnumValueWriter.php
  src/Language/Writer/FieldWriter.php
  src/Language/Writer/FloatValueWriter.php
  src/Language/Writer/FragmentDefinitionWriter.php
  src/Language/Writer/FragmentSpreadWriter.php
  src/Language/Writer/InlineFragmentWriter.php
  src/Language/Writer/IntValueWriter.php
  src/Language/Writer/ListTypeWriter.php
  src/Language/Writer/ListValueWriter.php
  src/Language/Writer/NameWriter.php
  src/Language/Writer/NamedTypeWriter.php
  src/Language/Writer/NullTypeWriter.php
  src/Language/Writer/NullValueWriter.php
  src/Language/Writer/ObjectFieldWriter.php
  src/Language/Writer/ObjectValueWriter.php
  src/Language/Writer/OperationDefinitionWriter.php
  src/Language/Writer/SelectionSetWriter.php
  src/Language/Writer/StringValueWriter.php
  src/Language/Writer/SupportedWriters.php
  src/Language/Writer/VariableDefinitionWriter.php
  src/Language/Writer/VariableWriter.php
  src/Language/Writer/WriterInterface.php
  src/Language/utils.php
  tests/Functional/Language/SchemaPrinterTest.php
Labels: language, refactor

#207 Missing definition tests
  src/Type/Definition/EnumType.php
  src/Type/Definition/EnumValue.php
  src/Type/Definition/FieldsTrait.php
  src/Type/Definition/InputObjectType.php
  src/Type/Definition/InterfaceType.php
  src/Type/Definition/NonNullType.php
  src/Type/Definition/ObjectType.php
  src/Type/Definition/ScalarType.php
  src/Type/Definition/UnionType.php
  src/Type/definition.php
  src/Util/utils.php
  tests/Functional/Schema/ValidationTest.php
  tests/Functional/Type/DefinitionTest.php
Labels: tests, typesystem

#210 Update README.md
  README.md
Labels: documentation

#213 Remove SchemaInterface
  src/Execution/ResolveInfo.php
  src/Execution/values.php
  src/GraphQL.php
  src/Schema/Building/SchemaBuilder.php
  src/Schema/Building/SchemaBuilderInterface.php
  src/Schema/DefinitionPrinter.php
  src/Schema/DefinitionPrinterInterface.php
  src/Schema/Extension/ExtendInfo.php
  src/Schema/Extension/SchemaExtender.php
  src/Schema/Extension/SchemaExtenderInterface.php
  src/Schema/Schema.php
  src/Schema/SchemaInterface.php
  src/Schema/Validation/Rule/RootTypesRule.php
  src/Schema/Validation/SchemaValidator.php
  src/Schema/Validation/SchemaValidatorInterface.php
  src/Schema/Validation/ValidationContext.php
  src/Schema/Validation/ValidationContextInterface.php
  src/Type/IntrospectionProvider.php
  src/Util/TypeASTConverter.php
  src/Util/TypeHelper.php
  src/Util/TypeInfo.php
  src/Util/helpers.php
  src/Validation/Rule/FieldOnCorrectTypeRule.php
  src/Validation/ValidationContext.php
  src/Validation/ValidationContextInterface.php
  src/Validation/Validator.php
  src/Validation/ValidatorInterface.php
  src/api.php
  tests/Functional/Validation/harness.php
Labels: refactor, schema

#214 Related packages
  README.md
Labels: documentation
