Repository digiaonline/graphql-php, pull requests merged in 2018-05, with the labels that each got.

#215 Support for custom types and directives when building schema
  src/Schema/Building/SchemaBuilder.php
  src/Schema/Building/SchemaBuilderInterface.php
  src/Schema/Building/SchemaBuildingProvider.php
  src/Schema/DefinitionBuilder.php
  src/Schema/DefinitionBuilderInterface.php
  src/Schema/Extension/SchemaExtender.php
  src/Schema/Extension/SchemaExtenderInterface.php
  src/Schema/Extension/SchemaExtensionProvider.php
Labels: SDL, enhancement, schema

#221 Fix various code issues
  composer.json
  src/Execution/CoercedValue.php
  src/Execution/ExecutionInterface.php
  src/Execution/FieldCollector.php
  src/Execution/Path.php
  src/Execution/ValuesHelper.php
  src/Execution/values.php
  src/Language/Lexer.php
  src/Language/Node/ListTypeNode.php
  src/Language/Parser.php
  src/Language/Visitor/AcceptsVisitorsTrait.php
  src/Language/Visitor/TypeInfoVisitor.php
  src/Schema/DefinitionBuilder.php
  src/Schema/Validation/Rule/TypesRule.php
  src/Type/Definition/AbstractTypeInterface.php
  src/Type/Definition/EnumType.php
  src/Type/Definition/NamedTypeInterface.php
  src/Type/Definition/ObjectType.php
  src/Type/definition.php
  src/Util/ValueConverter.php
  src/Util/ValueHelper.php
  src/Util/utils.php
  src/Validation/Conflict/Conflict.php
  src/Validation/Conflict/Map.php
  src/Validation/comparators.php
  src/Validation/messages.php
  src/api.php
  tests/Functional/Execution/ExecutionTest.php
  tests/Functional/Execution/ListTest.php
  tests/Functional/Execution/MutationTest.php
  tests/Functional/Execution/VariablesTest.php
  tests/Functional/QueryTest.php
  tests/Functional/Type/DefinitionTest.php
  tests/Functional/Type/SerializationTest.php
  tests/Unit/Language/LexerTest.php
  tests/utils.php
Labels: code style, enhancement, tests

#222 Fix resolving of operation types during build
  src/Schema/Building/BuildInfo.php
Labels: bug, schema

#217 Refactor execution package
  src/Execution/CoercedValue.php
  src/Execution/Execution.php
  src/Execution/ExecutionContext.php
  src/Execution/ExecutionContextBuilder.php
  src/Execution/ExecutionProvider.php
  src/Execution/ExecutionResult.php
  src/Execution/Executor.php
  src/Execution/FieldCollector.php
  src/Execution/Path.php
  src/Execution/ResolveInfo.php
  src/Schema/Schema.php
  src/Schema/Validation/Rule/RootTypesRule.php
  src/Type/Definition/FieldsTrait.php
Labels: execution, refactor

#226 Fix analysis issues
  composer.json
  src/Execution/Executor.php
  src/Execution/FieldCollector.php
  src/Language/Node/AbstractNode.php
  src/Language/Node/BooleanValueNode.php
  src/Language/Node/EnumTypeDefinitionNode.php
  src/Language/Node/FloatValueNode.php
  src/Language/Node/IntValueNode.php
  src/Language/Node/InterfaceTypeDefinitionNode.php
  src/Language/Node/InterfaceTypeExtensionNode.php
  src/Language/Node/ListValueNode.php
  src/Language/Node/NamedTypeNode.php
  src/Language/Node/ObjectFieldNode.php
  src/Language/Node/ObjectTypeDefinitionNode.php
  src/Language/Node/ObjectTypeExtensionNode.php
  src/Language/Node/OperationDefinitionNode.php
  src/Language/Node/StringValueNode.php
  src/Language/Node/UnionTypeDefinitionNode.php
  src/Language/Node/UnionTypeExtensionNode.php
  src/Language/Node/ValueAwareInterface.php
  src/Language/Visitor/AcceptsVisitorsInterface.php
  src/Language/Visitor/AcceptsVisitorsTrait.php
  src/Language/Visitor/VisitorInterface.php
  src/Schema/Building/SchemaBuilder.php
  src/Schema/DefinitionBuilder.php
  src/Schema/DefinitionPrinter.php
  src/Schema/Extension/ExtensionContext.php
  src/Schema/Schema.php
  src/Schema/Validation/Rule/RootTypesRule.php
  src/Schema/Validation/Rule/TypesRule.php
  src/Type/Definition/AbstractTypeInterface.php
  src/Type/Definition/Argument.php
  src/Type/Definition/EnumType.php
  src/Type/Definition/InputObjectType.php
  src/Type/Definition/InterfaceType.php
  src/Type/Definition/NamedTypeInterface.php
  src/Type/Definition/ObjectType.php
  src/Type/Definition/ScalarType.php
  src/Type/Definition/SerializableTypeInterface.php
  src/Type/Definition/UnionType.php
  src/Type/introspection.php
  src/Type/scalars.php
  src/Util/TypeInfo.php
  src/Util/ValueConverter.php
  src/Validation/Conflict/ComparisonContext.php
  src/Validation/Rule/ExecutableDefinitionsRule.php
  src/Validation/Rule/FragmentsOnCompositeTypesRule.php
  src/Validation/Rule/KnownArgumentNamesRule.php
  src/Validation/Rule/KnownDirectivesRule.php
  src/Validation/ValidationContext.php
  src/Validation/ValidationContextInterface.php
  src/api.php
  tests/Functional/Schema/ValidationTest.php
Labels: enhancement

#228 Refactor AST
  src/Language/Node/AbstractNode.php
  src/Language/Node/ArgumentNode.php
  src/Language/Node/DirectiveNode.php
  src/Language/Node/DocumentNode.php
  src/Language/Node/NameNode.php
  src/Language/Node/ObjectFieldNode.php
  src/Language/Node/SelectionSetNode.php
  src/Language/Visitor/AcceptsVisitorsInterface.php
  src/Language/Visitor/AcceptsVisitorsTrait.php
Labels: refactor, schema
