Repository digiaonline/graphql-php, pull requests merged in 2018-10, with the labels that each got.

#290 Remove simple cache dependency
  composer.json
  src/Schema/Building/SchemaBuilder.php
  src/Schema/Building/SchemaBuildingProvider.php
  src/Schema/DefinitionBuilder.php
  src/Schema/Extension/ExtensionContext.php
  src/Schema/Extension/SchemaExtensionProvider.php
Labels: dependency

#289 Upgrade league/container
  composer.json
  src/Execution/ExecutionProvider.php
  src/GraphQL.php
  src/Language/LanguageProvider.php
  src/Schema/Validation/SchemaValidationProvider.php
  src/Type/CoercerProvider.php
  src/Type/DirectivesProvider.php
  src/Type/IntrospectionProvider.php
  src/Type/ScalarTypesProvider.php
  src/Type/scalars.php
  src/Validation/ValidationProvider.php
Labels: dependency, refactor

#293 Remove relay support section
  README.md
Labels: documentation

#294 Refactor error handler injection
  src/Error/ErrorHandler.php
  src/Error/ErrorProvider.php
  src/Execution/Execution.php
  src/Execution/ExecutionInterface.php
  src/Execution/ExecutionProvider.php
  src/Execution/Executor.php
  src/GraphQL.php
  src/api.php
  tests/Unit/Error/ErrorHandlerTest.php
Labels: dependency injection, execution, refactor

#299 Resolver middleware
  README.md
  src/Schema/Resolver/AbstractResolver.php
  src/Schema/Resolver/ArrayResolver.php
  src/Schema/Resolver/ResolverCollection.php
  src/Schema/Resolver/ResolverInterface.php
  src/Schema/Resolver/ResolverMiddlewareInterface.php
  src/Schema/Resolver/ResolverRegistry.php
  tests/Unit/Schema/Resolver/ResolverRegistryTest.php
Labels: enhancement, refactor, schema

#297 Fix handling of errors in mutations
  src/Execution/Executor.php
Labels: bug, execution

#300 Named resolver middleware
  src/Schema/Resolver/AbstractResolver.php
  src/Schema/Resolver/ResolverCollection.php
  src/Schema/Resolver/ResolverInterface.php
  src/Schema/Resolver/ResolverRegistry.php
  tests/Unit/Schema/Resolver/ResolverRegistryTest.php
Labels: enhancement, execution, refactor

#301 Type resolver
  src/Schema/Resolver/AbstractFieldResolver.php
  src/Schema/Resolver/AbstractTypeResolver.php
  src/Schema/Resolver/ResolverCollectionInterface.php
  src/Schema/Resolver/ResolverMap.php
  src/Schema/Resolver/ResolverRegistry.php
  src/Schema/Resolver/ResolverTrait.php
  tests/Unit/Schema/Resolver/ResolverRegistryTest.php
Labels: enhancement, execution, refactor

#281 Refactor VisitorInterface to allow for more fine-grained control
  src/Language/Node/AbstractNode.php
  src/Language/Node/NodeInterface.php
  src/Language/Visitor/ParallelVisitor.php
  src/Language/Visitor/SpecificKindVisitor.php
  src/Language/Visitor/TypeInfoVisitor.php
  src/Language/Visitor/Visitor.php
  src/Language/Visitor/VisitorBreak.php
  src/Language/Visitor/VisitorInterface.php
  src/Language/Visitor/VisitorResult.php
  src/Validation/Rule/ExecutableDefinitionsRule.php
  src/Validation/Rule/FieldOnCorrectTypeRule.php
  src/Validation/Rule/FragmentsOnCompositeTypesRule.php
  src/Validation/Rule/KnownArgumentNamesRule.php
  src/Validation/Rule/KnownDirectivesRule.php
  src/Validation/Rule/KnownFragmentNamesRule.php
  src/Validation/Rule/KnownTypeNamesRule.php
  src/Validation/Rule/LoneAnonymousOperationRule.php
  src/Validation/Rule/NoFragmentCyclesRule.php
  src/Validation/Rule/NoUndefinedVariablesRule.php
  src/Validation/Rule/NoUnusedFragmentsRule.php
  src/Validation/Rule/NoUnusedVariablesRule.php
  src/Validation/Rule/OverlappingFieldsCanBeMergedRule.php
  src/Validation/Rule/PossibleFragmentSpreadsRule.php
  src/Validation/Rule/ProvidedNonNullArgumentsRule.php
  src/Validation/Rule/ScalarLeafsRule.php
  src/Validation/Rule/SingleFieldSubscriptionsRule.php
  src/Validation/Rule/UniqueArgumentNamesRule.php
  src/Validation/Rule/UniqueDirectivesPerLocationRule.php
  src/Validation/Rule/UniqueFragmentNamesRule.php
  src/Validation/Rule/UniqueInputFieldNamesRule.php
  src/Validation/Rule/UniqueOperationNamesRule.php
  src/Validation/Rule/UniqueVariableNamesRule.php
  src/Validation/Rule/ValuesOfCorrectTypeRule.php
  src/Validation/Rule/VariablesAreInputTypesRule.php
  src/Validation/Rule/VariablesDefaultValueAllowedRule.php
  src/Validation/Rule/VariablesInAllowedPositionRule.php
  src/Validation/ValidationContext.php
  tests/Functional/Language/VisitorTest.php
Labels: enhancement, help wanted, language, refactor

#303 Fix coercing of false values
  src/Execution/CoercedValue.php
  src/Execution/ValuesHelper.php
  tests/Functional/Execution/ValuesHelperTest.php
Labels: bug, execution

#307 Fix coercing values for enum type
  src/Execution/ValuesHelper.php
Labels: bug, execution

#308 Visitor info
  src/Language/Node/AbstractNode.php
  src/Language/Node/NodeInterface.php
  src/Language/Visitor/VisitorInfo.php
  src/Util/NodeComparator.php
  src/Validation/ValidationContext.php
  src/Validation/Validator.php
  tests/Functional/Language/VisitorTest.php
  tests/Unit/Util/NodeComparatorTest.php
Labels: language, refactor

#309 Fix resolver middleware example
  README.md
Labels: documentation

#311 Fix "Cannot use false as value for non-null booleans in input types"
  src/Execution/ValuesHelper.php
  tests/Functional/Execution/ValuesHelperTest.php
Labels: bug, execution

#313 Fix resolver example
  README.md
Labels: documentation
