Repository digiaonline/graphql-php, pull requests merged in 2018-03, with the labels that each got.

#29 Refactor container builder to use providers
  src/GraphQL.php
  src/Language/AST/Builder/SupportedBuilders.php
  src/Language/Reader/SupportedReaders.php
  src/Provider/CacheProvider.php
  src/Provider/DirectivesProvider.php
  src/Provider/ParserProvider.php
  src/Provider/PrinterProvider.php
  src/Provider/ScalarTypesProvider.php
  src/Provider/SchemaBuilderProvider.php
Labels: enhancement

#34 Parallel visitor
  src/Language/AST/Visitor/AbstractVisitor.php
  src/Language/AST/Visitor/AcceptVisitorTrait.php
  src/Language/AST/Visitor/ParallelVisitor.php
  src/Language/AST/Visitor/SpecificKindVisitor.php
  src/Language/AST/Visitor/Visitor.php
  src/Language/AST/Visitor/VisitorInterface.php
  tests/Functional/Language/VisitorTest.php
Labels: enhancement

#35 Resolver concept
  src/Execution/ExecutionEnvironment.php
  src/Execution/Resolver/PropertyFieldResolver.php
  src/Execution/Resolver/ResolveInfo.php
  src/Execution/Resolver/ResolverInterface.php
  src/Execution/Resolver/TypeResolver.php
  src/Execution/ResponsePath.php
Labels: enhancement

#41 Fix master phpstan errors
  src/Execution/ExecutionEnvironment.php
  src/Execution/Resolver/ResolveInfo.php
Labels: bug

#39 Add introspection provider
  src/GraphQL.php
  src/Provider/IntrospectionTypesProvider.php
  src/Type/introspection.php
Labels: enhancement

#38 Type info visitor
  .idea/graphql-php.iml
  composer.json
  src/Language/AST/Visitor/TypeInfoVisitor.php
  src/Type/Schema.php
  src/Type/SchemaInterface.php
  src/Type/definition.php
  src/Util/TypeInfo.php
  src/Util/typeFromAST.php
  tests/Functional/Language/VisitorTest.php
  tests/Functional/Language/testSchema.php
Labels: enhancement

#40 Pass environment to resolve function
  .idea/php-test-framework.xml
  src/Execution/ExecutionContext.php
  src/Execution/ExecutionStrategy.php
  src/Execution/ExecutorExecutionStrategy.php
  src/Execution/Resolver/ResolveInfo.php
  src/Execution/values.php
  src/Type/Definition/ResolveTrait.php
  tests/Functional/Execution/ExecutionTest.php
  tests/Functional/Execution/MutationTest.php
Labels: enhancement

#48 GraphQLException
  .idea/graphql-php.iml
  src/Error/ExecutionException.php
  src/Error/GraphQLException.php
Labels: enhancement

#51 Add initial support for printing AST nodes
  src/Language/Printer.php
  src/Language/Writer/AbstractWriter.php
  src/Language/Writer/ArgumentWriter.php
  src/Language/Writer/BooleanValueWriter.php
  src/Language/Writer/DirectiveWriter.php
  src/Language/Writer/DocumentWriter.php
  src/Language/Writer/EnumValueWriter.php
  src/Language/Writer/FieldWriter.php
  src/Language/Writer/FloatValueWriter.php
  src/Language/Writer/FragmentDefinitionWriter.php
  src/Language/Writer/FragmentSpreadWriter.php
  src/Language/Writer/InlineFragmentWriter.php
  src/Language/Writer/IntValueWriter.php
  src/Language/Writer/ListTypeWriter.php
  src/Language/Writer/ListValueWriter.php
  src/Language/Writer/NameWriter.php
  src/Language/Writer/NamedTypeWriter.php
  src/Language/Writer/NullTypeWriter.php
  src/Language/Writer/NullValueWriter.php
  src/Language/Writer/ObjectFieldWriter.php
  src/Language/Writer/ObjectValueWriter.php
  src/Language/Writer/OperationDefinitionWriter.php
  src/Language/Writer/SelectionSetWriter.php
  src/Language/Writer/StringValueWriter.php
  src/Language/Writer/SupportedWriters.php
  src/Language/Writer/VariableDefinitionWriter.php
  src/Language/Writer/VariableWriter.php
  src/Language/Writer/WriterInterface.php
  src/Language/helpers.php
  src/Provider/PrinterProvider.php
Labels: enhancement

#52 Visitor ancestors
  composer.json
  src/Language/AST/Node/AbstractNode.php
  src/Language/AST/Visitor/AcceptVisitorInterface.php
  src/Language/AST/Visitor/AcceptsVisitorsInterface.php
  src/Language/AST/Visitor/AcceptsVisitorsTrait.php
  src/Language/AST/Visitor/ParallelVisitor.php
  src/Language/AST/Visitor/SpecificKindVisitor.php
  src/Language/AST/Visitor/TypeInfoVisitor.php
  src/Language/AST/Visitor/Visitor.php
  src/Language/AST/Visitor/VisitorInterface.php
  tests/Functional/Language/VisitorTest.php
  tests/Functional/Validation/harness.php
Labels: enhancement

#53 Add initial support for validation
  composer.json
  src/Error/ValidationException.php
  src/GraphQL.php
  src/Language/AST/Builder/AbstractBuilder.php
  src/Language/AST/Node/AliasTrait.php
  src/Language/AST/Node/ExecutableDefinitionNodeInterface.php
  src/Language/AST/Node/NameTrait.php
  src/Language/AST/Node/SelectionSetTrait.php
  src/Language/Parser.php
  src/Language/Source.php
  src/Language/SourceLocation.php
  src/Provider/ValidationProvider.php
  src/Validation/ContextBuilder.php
  src/Validation/ContextBuilderInterface.php
  src/Validation/Rule/AbstractRule.php
  src/Validation/Rule/RuleInterface.php
  src/Validation/ValidationContext.php
  src/Validation/ValidationContextAwareTrait.php
  src/Validation/ValidationContextInterface.php
  src/Validation/Validator.php
  src/Validation/ValidatorInterface.php
  src/Validation/rules.php
  src/helpers.php
Labels: enhancement

#54 ExecutableDefinitions validation rule
  composer.json
  src/Error/GraphQLException.php
  src/Error/formatError.php
  src/Error/printError.php
  src/GraphQL.php
  src/Provider/RulesProvider.php
  src/Util/orList.php
  src/Util/suggestionList.php
  src/Validation/Rule/ExecutableDefinitionsRule.php
  src/Validation/messages.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/ExecutableDefinitionsRuleTest.php
  tests/Functional/Validation/Rule/RuleTestCase.php
Labels: enhancement

#56 FieldOnCorrectType validation rule
  composer.json
  src/Provider/RulesProvider.php
  src/Validation/Rule/FieldOnCorrectTypeRule.php
  src/Validation/rules.php
  tests/Functional/Validation/MessagesTest.php
  tests/Functional/Validation/Rule/FieldOnCorrectTypeRuleTest.php
Labels: enhancement

#60 Fix schema mutation and subscription return types
  src/Type/Schema.php
  src/Type/SchemaInterface.php
Labels: bug

#61 Fix TypeInfo::pushInputType argument type
  src/Util/TypeInfo.php
Labels: bug

#71 Add proper support for syntax errors
  src/Error/SyntaxErrorException.php
  src/Language/Lexer.php
  src/Language/Parser.php
  src/Language/Reader/BlockStringReader.php
  src/Language/Reader/NumberReader.php
  src/Language/Reader/StringReader.php
Labels: enhancement, language

#73 Rename ConfigTrait to ConfigAwareTrait
  src/Config/ConfigAwareTrait.php
  src/Config/ConfigObject.php
  tests/Functional/Language/VisitorTest.php
Labels: enhancement

#72 Public API
  composer.json
  src/api.php
Labels: enhancement, public api

#74 Refactor execution values
  .idea/codeStyles/Project.xml
  .idea/graphql-php.iml
  composer.json
  src/Execution/ExecutionContext.php
  src/Execution/ExecutionStrategy.php
  src/Execution/ValuesResolver.php
  src/Execution/values.php
  src/Language/SchemaBuilder/DefinitionBuilder.php
  tests/Functional/Execution/ValuesResolverTest.php
Labels: enhancement, execution

#77 Fix messages for skipped tests
  tests/Functional/Language/ParserTest.php
  tests/Functional/Language/VisitorTest.php
  tests/Functional/Validation/Rule/FieldOnCorrectTypeRuleTest.php
Labels: enhancement

#79 Fix PHPUnit IDE path
  .idea/php.xml
Labels: dev environment

#57 FragmentsOnCompositeTypes validation rule
  composer.json
  src/Provider/RulesProvider.php
  src/Validation/Rule/FragmentsOnCompositeTypesRule.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/FragmentsOnCompositeTypesRuleTest.php
Labels: enhancement, validation

#85 Fix imports
  src/Validation/Rule/FragmentsOnCompositeTypesRule.php
Labels: bug

#80 PossibleFragmentSpreads validation rule
  composer.json
  src/Language/Node/FragmentSpreadNode.php
  src/Provider/RulesProvider.php
  src/Type/Schema.php
  src/Util/typeComparators.php
  src/Validation/Rule/PossibleFragmentSpreadsRule.php
  src/Validation/ValidationContext.php
  src/Validation/ValidationContextInterface.php
  src/Validation/messages.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/PossibleFragmentSpreadsRuleTest.php
  tests/Functional/Validation/harness.php
Labels: enhancement, validation

#58 KnownArgumentNames validation rule
  composer.json
  src/Provider/RulesProvider.php
  src/Validation/Rule/KnownArgumentNamesRule.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/KnownArgumentNamesRuleTest.php
Labels: enhancement, validation

#59 KnownDirectives validation rule
  composer.json
  src/Language/Visitor/AcceptsVisitorsInterface.php
  src/Provider/RulesProvider.php
  src/Validation/Rule/KnownDirectivesRule.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/KnownDirectivesRuleTest.php
Labels: enhancement, validation

#62 KnownFragmentNames validation rule
  composer.json
  src/Provider/RulesProvider.php
  src/Validation/Rule/KnownFragmentNamesRule.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/KnownFragmentNamesRuleTest.php
Labels: enhancement, validation

#63 KnownTypeNames validation rule
  composer.json
  src/Provider/RulesProvider.php
  src/Validation/Rule/KnownTypeNamesRule.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/KnownTypeNamesRuleTest.php
Labels: enhancement, validation

#64 LoneAnonymousOperation validation rule
  composer.json
  src/Provider/RulesProvider.php
  src/Validation/Rule/LoneAnonymousOperationRule.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/LoneAnonymousOperationRuleTest.php
Labels: enhancement, validation

#65 NoFragmentCycles validation rule
  composer.json
  src/Provider/RulesProvider.php
  src/Validation/Rule/NoFragmentCyclesRule.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/NoFragmentCyclesRuleTest.php
Labels: enhancement, validation

#66 NoUndefinedVariables validation rule
  composer.json
  src/Provider/RulesProvider.php
  src/Validation/Rule/NoUndefinedVariablesRule.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/NoUndefinedVariablesRuleTest.php
Labels: enhancement, validation

#67 NoUnusedFragments validation rule
  composer.json
  src/Provider/RulesProvider.php
  src/Validation/Rule/NoUnusedFragmentsRule.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/NoUnusedFragmentsRuleTest.php
Labels: enhancement, validation

#68 NoUnusedVariables validation rule
  composer.json
  src/Provider/RulesProvider.php
  src/Validation/Rule/NoUnusedVariablesRule.php
  src/Validation/rules.php
  tests/Functional/Validation/Rule/NoUnusedVariablesRuleTest.php
Labels: enhancement, validation

#69 OverlappingFieldsCanBeMerged validation rule
  composer.json
  src/Provider/RulesProvider.php
  src/Util/helpers.php
  src/Validation/Conflict/ComparisonContext.php
  src/Validation/Conflict/Conflict.php
  src/Validation/Conflict/FieldContext.php
  src/Validation/Conflict/FindsConflictsTrait.php
  src/Validation/Conflict/Map.php
  src/Validation/Conflict/PairSet.php
  src/Validation/Conflict/Reason.php
  src/Validation/Rule/OverlappingFieldsCanBeMergedRule.php
  src/Validation/comparators.php
  src/Validation/messages.php
  src/Validation/rules.php
  tests/Functional/Validation/MessagesTest.php
  tests/Functional/Validation/Rule/OverlappingFieldsCanBeMergedRuleTest.php
  tests/Functional/Validation/Rule/RuleTestCase.php
Labels: enhancement, validation

#86 Move rule test error functions into a single file
  composer.json
  tests/Functional/Validation/Rule/ExecutableDefinitionsRuleTest.php
  tests/Functional/Validation/Rule/FieldOnCorrectTypeRuleTest.php
  tests/Functional/Validation/Rule/FragmentsOnCompositeTypesRuleTest.php
  tests/Functional/Validation/Rule/KnownArgumentNamesRuleTest.php
  tests/Functional/Validation/Rule/KnownDirectivesRuleTest.php
  tests/Functional/Validation/Rule/KnownFragmentNamesRuleTest.php
  tests/Functional/Validation/Rule/KnownTypeNamesRuleTest.php
  tests/Functional/Validation/Rule/LoneAnonymousOperationRuleTest.php
  tests/Functional/Validation/Rule/NoFragmentCyclesRuleTest.php
  tests/Functional/Validation/Rule/NoUndefinedVariablesRuleTest.php
  tests/Functional/Validation/Rule/NoUnusedFragmentsRuleTest.php
  tests/Functional/Validation/Rule/NoUnusedVariablesRuleTest.php
  tests/Functional/Validation/Rule/OverlappingFieldsCanBeMergedRuleTest.php
  tests/Functional/Validation/Rule/PossibleFragmentSpreadsRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#88 Refactor logic for instantiating validation rules
  composer.json
  src/GraphQL.php
  src/Provider/RulesProvider.php
  src/Provider/ValidationProvider.php
  src/Validation/Rule/SupportedRules.php
  src/Validation/Validator.php
  src/Validation/ValidatorInterface.php
  src/Validation/rules.php
  tests/Functional/Execution/MutationTest.php
Labels: enhancement, refactor, validation

#89 Fix coverage white-list
  phpunit.xml
Labels: bug, tests

#87 Fix graphql indentation for validation rules
  src/Language/helpers.php
  tests/Functional/Validation/Rule/ExecutableDefinitionsRuleTest.php
  tests/Functional/Validation/Rule/FieldOnCorrectTypeRuleTest.php
  tests/Functional/Validation/Rule/FragmentsOnCompositeTypesRuleTest.php
  tests/Functional/Validation/Rule/KnownArgumentNamesRuleTest.php
  tests/Functional/Validation/Rule/KnownDirectivesRuleTest.php
  tests/Functional/Validation/Rule/KnownFragmentNamesRuleTest.php
  tests/Functional/Validation/Rule/KnownTypeNamesRuleTest.php
  tests/Functional/Validation/Rule/LoneAnonymousOperationRuleTest.php
  tests/Functional/Validation/Rule/NoFragmentCyclesRuleTest.php
  tests/Functional/Validation/Rule/NoUndefinedVariablesRuleTest.php
  tests/Functional/Validation/Rule/NoUnusedFragmentsRuleTest.php
  tests/Functional/Validation/Rule/NoUnusedVariablesRuleTest.php
  tests/Functional/Validation/Rule/OverlappingFieldsCanBeMergedRuleTest.php
  tests/Functional/Validation/Rule/PossibleFragmentSpreadsRuleTest.php
Labels: enhancement, validation

#90 ProvidedNonNullArguments validation rule
  src/Provider/DirectivesProvider.php
  src/Validation/Rule/ProvidedNonNullArgumentsRule.php
  src/Validation/Rule/SupportedRules.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/ProvidedNonNullArgumentsRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#91 ScalarLeafs validation rule
  src/Validation/Rule/ScalarLeafsRule.php
  src/Validation/Rule/SupportedRules.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/ScalarLeafsRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#92 SingleFieldSubscription validation rule
  src/Validation/Rule/SingleFieldSubscriptionsRule.php
  src/Validation/Rule/SupportedRules.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/SingleFieldSubscriptionsRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#93 UniqueArgumentNames validation rule
  src/Validation/Rule/SupportedRules.php
  src/Validation/Rule/UniqueArgumentNamesRule.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/UniqueArgumentNamesRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#94 UniqueDirectivesPerLocation validation rule
  .gitignore
  src/Language/Node/DirectivesInterface.php
  src/Language/Node/DirectivesTrait.php
  src/Language/Node/EnumTypeDefinitionNode.php
  src/Language/Node/EnumTypeExtensionNode.php
  src/Language/Node/EnumValueDefinitionNode.php
  src/Language/Node/FieldNode.php
  src/Language/Node/FragmentDefinitionNode.php
  src/Language/Node/InputObjectTypeDefinitionNode.php
  src/Language/Node/InputObjectTypeExtensionNode.php
  src/Language/Node/InputValueDefinitionNode.php
  src/Language/Node/InterfaceTypeDefinitionNode.php
  src/Language/Node/InterfaceTypeExtensionNode.php
  src/Language/Node/ObjectTypeDefinitionNode.php
  src/Language/Node/ObjectTypeExtensionNode.php
  src/Language/Node/OperationDefinitionNode.php
  src/Language/Node/ScalarTypeDefinitionNode.php
  src/Language/Node/ScalarTypeExtensionNode.php
  src/Language/Node/UnionTypeExtensionNode.php
  src/Validation/Rule/SupportedRules.php
  src/Validation/Rule/UniqueDirectivesPerLocationRule.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/UniqueDirectivesPerLocationRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#96 Rules builder
  src/Provider/ValidationProvider.php
  src/Validation/Rule/RulesBuilder.php
  src/Validation/Rule/RulesBuilderInterface.php
  src/Validation/Rule/SupportedRules.php
  src/Validation/Validator.php
Labels: enhancement, validation

#98 UniqueInputFieldNames validation rule
  src/Language/helpers.php
  src/Validation/Rule/UniqueInputFieldNamesRule.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/UniqueInputFieldNamesRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#97 UniqueFragmentNames validation rule
  src/Validation/Rule/SupportedRules.php
  src/Validation/Rule/UniqueFragmentNamesRule.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/FragmentsOnCompositeTypesRuleTest.php
  tests/Functional/Validation/Rule/UniqueFragmentNamesRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#99 UniqueOperationNames validation rule
  src/Validation/Rule/UniqueOperationNamesRule.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/UniqueOperationNamesRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#100 UniqueVariableNames validation rule
  src/Validation/Rule/UniqueVariableNamesRule.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/UniqueVariableNamesRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#101 VariablesAreInputTypes validation rule
  src/Validation/Rule/VariablesAreInputTypesRule.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/VariablesAreInputTypesRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#102 VariablesDefaultValueAllowed validation rule
  src/Validation/Rule/VariablesDefaultValueAllowedRule.php
  src/Validation/ValidationContext.php
  src/Validation/ValidationContextInterface.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/VariablesDefaultValueAllowedRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#103 VariablesInAllowedPosition validation rule
  composer.json
  src/GraphQL.php
  src/Language/Node/DefaultValueTrait.php
  src/Util/TypeComparator.php
  src/Util/typeComparators.php
  src/Validation/Rule/PossibleFragmentSpreadsRule.php
  src/Validation/Rule/VariablesInAllowedPositionRule.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/VariablesInAllowedPositionRuleTest.php
  tests/Functional/Validation/errors.php
  tests/Functional/Validation/harness.php
Labels: enhancement, validation

#105 SpecificKindVisitor
  src/Language/Visitor/SpecificKindVisitor.php
Labels: enhancement, language

#106 ValuesOnCorrectTypes validation rule
  src/Error/GraphQLException.php
  src/Error/formatError.php
  src/Language/Visitor/SpecificKindVisitor.php
  src/Language/Writer/SupportedWriters.php
  src/Language/helpers.php
  src/Provider/ScalarTypesProvider.php
  src/Type/Definition/EnumType.php
  src/Type/definition.php
  src/Util/orList.php
  src/Util/suggestionList.php
  src/Validation/Rule/AbstractRule.php
  src/Validation/Rule/ValuesOfCorrectTypeRule.php
  src/Validation/ValidationContext.php
  src/Validation/ValidationContextInterface.php
  src/Validation/messages.php
  tests/Functional/Validation/Rule/ValuesOfCorrectTypeRuleTest.php
  tests/Functional/Validation/errors.php
Labels: enhancement, validation

#107 Validation tests
  src/Validation/Rule/SupportedRules.php
  tests/Functional/Validation/ValidationTest.php
Labels: enhancement, tests, validation

#109 Move providers into associated namespaces
  src/Cache/CacheProvider.php
  src/Execution/ExecutionProvider.php
  src/GraphQL.php
  src/Language/LanguageProvider.php
  src/Provider/ParserProvider.php
  src/Provider/PrinterProvider.php
  src/Type/DirectivesProvider.php
  src/Type/IntrospectionTypesProvider.php
  src/Type/ScalarTypesProvider.php
  src/Validation/ValidationProvider.php
Labels: enhancement

#110 Refactor validation rules
  src/Language/Visitor/SpecificKindVisitor.php
  src/Validation/Rule/ExecutableDefinitionsRule.php
  src/Validation/Rule/FieldOnCorrectTypeRule.php
  src/Validation/Rule/FragmentsOnCompositeTypesRule.php
  src/Validation/Rule/KnownArgumentNamesRule.php
  src/Validation/Rule/KnownDirectivesRule.php
  src/Validation/Rule/KnownFragmentNamesRule.php
  src/Validation/Rule/KnownTypeNamesRule.php
  src/Validation/Rule/LoneAnonymousOperationRule.php
  src/Validation/Rule/NoFragmentCyclesRule.php
  src/Validation/Rule/NoUndefinedVariablesRule.php
  src/Validation/Rule/NoUnusedFragmentsRule.php
  src/Validation/Rule/NoUnusedVariablesRule.php
  src/Validation/Rule/OverlappingFieldsCanBeMergedRule.php
  src/Validation/Rule/PossibleFragmentSpreadsRule.php
  src/Validation/Rule/ProvidedNonNullArgumentsRule.php
  src/Validation/Rule/RuleInterface.php
  src/Validation/Rule/ScalarLeafsRule.php
  src/Validation/Rule/SingleFieldSubscriptionsRule.php
  src/Validation/Rule/UniqueArgumentNamesRule.php
  src/Validation/Rule/UniqueDirectivesPerLocationRule.php
  src/Validation/Rule/UniqueFragmentNamesRule.php
  src/Validation/Rule/UniqueInputFieldNamesRule.php
  src/Validation/Rule/UniqueOperationNamesRule.php
  src/Validation/Rule/UniqueVariableNamesRule.php
  src/Validation/Rule/ValuesOfCorrectTypeRule.php
  src/Validation/Rule/VariablesAreInputTypesRule.php
  src/Validation/Rule/VariablesDefaultValueAllowedRule.php
  src/Validation/Rule/VariablesInAllowedPositionRule.php
  src/Validation/ValidationContextAwareTrait.php
  src/Validation/Validator.php
Labels: enhancement, validation

#120 Rules provider
  .idea/graphql-php.iml
  composer.json
  src/GraphQL.php
  src/Util/UtilityProvider.php
  src/Validation/Rule/PossibleFragmentSpreadsRule.php
  src/Validation/Rule/SupportedRules.php
  src/Validation/Rule/VariablesInAllowedPositionRule.php
  src/Validation/RulesProvider.php
  src/Validation/Validator.php
  tests/Functional/Execution/AbstractTest.php
  tests/Functional/Validation/Rule/ExecutableDefinitionsRuleTest.php
  tests/Functional/Validation/Rule/FieldOnCorrectTypeRuleTest.php
  tests/Functional/Validation/Rule/FragmentsOnCompositeTypesRuleTest.php
  tests/Functional/Validation/Rule/KnownArgumentNamesRuleTest.php
  tests/Functional/Validation/Rule/KnownDirectivesRuleTest.php
  tests/Functional/Validation/Rule/KnownFragmentNamesRuleTest.php
  tests/Functional/Validation/Rule/KnownTypeNamesRuleTest.php
  tests/Functional/Validation/Rule/LoneAnonymousOperationRuleTest.php
  tests/Functional/Validation/Rule/NoFragmentCyclesRuleTest.php
  tests/Functional/Validation/Rule/NoUndefinedVariablesRuleTest.php
  tests/Functional/Validation/Rule/NoUnusedFragmentsRuleTest.php
  tests/Functional/Validation/Rule/NoUnusedVariablesRuleTest.php
  tests/Functional/Validation/Rule/OverlappingFieldsCanBeMergedRuleTest.php
  tests/Functional/Validation/Rule/PossibleFragmentSpreadsRuleTest.php
  tests/Functional/Validation/Rule/ProvidedNonNullArgumentsRuleTest.php
  tests/Functional/Validation/Rule/RuleTestCase.php
  tests/Functional/Validation/Rule/ScalarLeafsRuleTest.php
  tests/Functional/Validation/Rule/SingleFieldSubscriptionsRuleTest.php
  tests/Functional/Validation/Rule/UniqueArgumentNamesRuleTest.php
  tests/Functional/Validation/Rule/UniqueDirectivesPerLocationRuleTest.php
  tests/Functional/Validation/Rule/UniqueFragmentNamesRuleTest.php
  tests/Functional/Validation/Rule/UniqueInputFieldNamesRuleTest.php
  tests/Functional/Validation/Rule/UniqueOperationNamesRuleTest.php
  tests/Functional/Validation/Rule/UniqueVariableNamesRuleTest.php
  tests/Functional/Validation/Rule/ValuesOfCorrectTypeRuleTest.php
  tests/Functional/Validation/Rule/VariablesAreInputTypesRuleTest.php
  tests/Functional/Validation/Rule/VariablesDefaultValueAllowedRuleTest.php
  tests/Functional/Validation/Rule/VariablesInAllowedPositionRuleTest.php
Labels: refactor, tests, validation

#116 Resolver map
  composer.json
  src/Execution/ExecutionResult.php
  src/Language/LanguageProvider.php
  src/Language/Node/EnumTypeDefinitionNode.php
  src/Language/Node/NamedTypeNode.php
  src/Language/SchemaBuilder/DefinitionBuilder.php
  src/Language/SchemaBuilder/DefinitionBuilderInterface.php
  src/Language/SchemaBuilder/ResolverInterface.php
  src/Language/SchemaBuilder/SchemaBuilder.php
  src/Language/SchemaBuilder/SchemaBuilderInterface.php
  src/Type/Definition/ResolveTrait.php
  src/Util/UtilityProvider.php
  src/api.php
  tests/Functional/QueryTest.php
  tests/Functional/starWars.graphqls
  tests/Functional/starWarsData.php
  tests/Functional/starWarsSchema.php
Labels: SDL, enhancement

#112 Document public API
  README.md
Labels: documentation

#123 Move introspection query
  tests/Functional/Type/IntrospectionTest.php
  tests/Functional/Type/introspection.graphql
Labels: enhancement

#124 Move SchemaBuilder
  src/Error/formatError.php
  src/GraphQL.php
  src/Language/LanguageProvider.php
  src/Language/SchemaBuilder/ResolverInterface.php
  src/SchemaBuilder/DefinitionBuilder.php
  src/SchemaBuilder/DefinitionBuilderInterface.php
  src/SchemaBuilder/SchemaBuilder.php
  src/SchemaBuilder/SchemaBuilderInterface.php
  src/SchemaBuilder/SchemaBuilderProvider.php
  src/api.php
  tests/Functional/Language/schema-user-vote.graphqls
  tests/Functional/SchemaBuilder/SchemaBuilderTest.php
  tests/Functional/Type/IntrospectionTest.php
Labels: SDL, enhancement, refactor

#130 Execution union interface test
  composer.json
  src/Error/UndefinedException.php
  src/Execution/ExecutionContext.php
  src/Execution/ExecutionStrategy.php
  src/Type/IntrospectionTypesProvider.php
  src/Type/introspection.php
  tests/Functional/Execution/AbstractTest.php
  tests/Functional/Execution/MutationTest.php
  tests/Functional/Execution/UnionInterfaceTest.php
  tests/Functional/Execution/testClasses.php
Labels: execution, tests

#128 Refactor helper functions
  composer.json
  src/Error/CoercingException.php
  src/Error/GraphQLException.php
  src/Execution/ExecutionResult.php
  src/Language/Location.php
  src/Language/Node/AbstractNode.php
  src/Language/SourceLocation.php
  src/Language/Token.php
  src/Language/Writer/StringValueWriter.php
  src/SchemaBuilder/DefinitionBuilder.php
  src/Type/Definition/FieldsTrait.php
  src/Type/definition.php
  src/Util/ArrayToJsonTrait.php
  src/Util/ValueNodeResolver.php
  src/Util/helpers.php
  src/Util/invariant.php
  src/Util/orList.php
  src/Util/suggestionList.php
  tests/Functional/Language/SchemaParserTest.php
  tests/Functional/Language/SchemaPrinterTest.php
  tests/Functional/Language/VisitorTest.php
  tests/Functional/SchemaBuilder/SchemaBuilderTest.php
  tests/Functional/Type/IntrospectionTest.php
  tests/Functional/starWarsSchema.php
  tests/helpers.php
Labels: enhancement, refactor

#129 Refactor valueFromAST
  composer.json
  src/Error/CoercingException.php
  src/Execution/Execution.php
  src/Execution/ExecutionProvider.php
  src/Execution/ExecutionStrategy.php
  src/Execution/ValuesResolver.php
  src/Language/Node/EnumValueNode.php
  src/Language/Node/IntValueNode.php
  src/Language/Node/ObjectFieldNode.php
  src/Language/Node/ObjectValueNode.php
  src/Language/Node/StringValueNode.php
  src/Language/Node/ValueTrait.php
  src/SchemaBuilder/DefinitionBuilder.php
  src/Type/Definition/EnumType.php
  src/Type/Definition/ListType.php
  src/Type/Definition/NonNullType.php
  src/Type/ScalarTypesProvider.php
  src/Util/UtilityProvider.php
  src/Util/ValueNodeCoercer.php
  src/Util/valueFromAST.php
  tests/Functional/Execution/ValuesResolverTest.php
  tests/Unit/Util/ValueNodeCoercerTest.php
Labels: refactor, utility

#133 Refactor Schema
  src/Execution/ExecutionStrategy.php
  src/Execution/ExecutorExecutionStrategy.php
  src/Language/Visitor/TypeInfoVisitor.php
  src/SchemaValidator/Rule/RootTypesRule.php
  src/Type/IntrospectionTypesProvider.php
  src/Type/Schema.php
  src/Type/SchemaInterface.php
  src/Util/TypeInfo.php
  tests/Functional/Execution/ValuesResolverTest.php
  tests/Functional/Type/DefinitionTest.php
Labels: refactor, typesystem

#134 Class-based coercers
  composer.json
  src/GraphQL.php
  src/Type/Coercer/AbstractCoercer.php
  src/Type/Coercer/BooleanCoercer.php
  src/Type/Coercer/CoercerInterface.php
  src/Type/Coercer/FloatCoercer.php
  src/Type/Coercer/IntCoercer.php
  src/Type/Coercer/StringCoercer.php
  src/Type/CoercerProvider.php
  src/Type/Definition/EnumType.php
  src/Type/Definition/ScalarType.php
  src/Type/ScalarTypesProvider.php
  src/Util/coercers.php
Labels: refactor, typesystem

#137 Query tests
  src/Error/GraphQLException.php
  src/Execution/ExecutionResult.php
  src/Execution/ExecutionStrategy.php
  tests/Functional/QueryTest.php
  tests/Functional/starWars.graphqls
  tests/Functional/starWarsData.php
  tests/Functional/starWarsSchema.php
Labels: enhancement, tests

#140 Validation tests
  tests/Functional/ValidationTest.php
Labels: enhancement, tests, validation

#136 Add CacheAwareTrait
  src/Cache/CacheAwareTrait.php
  src/Cache/RuntimeCache.php
  src/SchemaBuilder/DefinitionBuilder.php
Labels: enhancement, refactor

#139 Error location and path
  composer.json
  src/Error/formatError.php
  src/Error/helpers.php
  src/Execution/ExecutionStrategy.php
  tests/Functional/Execution/AbstractPromiseTest.php
  tests/Functional/Execution/AbstractTest.php
  tests/Functional/QueryTest.php
Labels: enhancement, execution

#143 Remove ConfigObject
  src/Config/ConfigAwareInterface.php
  src/Config/ConfigAwareTrait.php
  src/Config/ConfigObject.php
  src/Execution/ExecutionStrategy.php
  src/Execution/ResolveInfo.php
  src/Execution/ResponsePath.php
  src/Language/Node/AbstractNode.php
  src/Type/Definition/Argument.php
  src/Type/Definition/Directive.php
  src/Type/Definition/EnumType.php
  src/Type/Definition/EnumValue.php
  src/Type/Definition/Field.php
  src/Type/Definition/InputField.php
  src/Type/Definition/InputObjectType.php
  src/Type/Definition/InterfaceType.php
  src/Type/Definition/NameTrait.php
  src/Type/Definition/NonNullType.php
  src/Type/Definition/ObjectType.php
  src/Type/Definition/ResolveTrait.php
  src/Type/Definition/ResolveTypeTrait.php
  src/Type/Definition/ScalarType.php
  src/Type/Definition/UnionType.php
  src/Type/IntrospectionProvider.php
  src/Type/Schema.php
  tests/Functional/Execution/MutationTest.php
  tests/Functional/Execution/UnionInterfaceTest.php
  tests/Functional/Language/VisitorTest.php
Labels: enhancement, refactor

#148 SchemaValidator tests
  src/SchemaBuilder/DefinitionBuilder.php
  src/SchemaValidator/Rule/TypesRule.php
  src/Type/Definition/TypeTrait.php
  src/Type/Schema.php
  src/Util/helpers.php
  tests/Functional/SchemaValidator/ValidationTest.php
Labels: tests, validation

#150 Refactor DefinitionBuilder instantiation
  src/SchemaBuilder/DefinitionBuilder.php
  src/SchemaBuilder/DefinitionBuilderCreator.php
  src/SchemaBuilder/DefinitionBuilderCreatorInterface.php
  src/SchemaBuilder/DefinitionBuilderInterface.php
  src/SchemaBuilder/SchemaBuilder.php
  src/SchemaBuilder/SchemaBuilderProvider.php
Labels: refactor, schema

#151 Refactor schema validation
  src/Error/SchemaValidationException.php
  src/SchemaValidator/Rule/DirectivesRule.php
  src/SchemaValidator/Rule/RootTypesRule.php
  src/SchemaValidator/Rule/TypesRule.php
  src/SchemaValidator/SchemaValidator.php
  src/SchemaValidator/SchemaValidatorInterface.php
  src/SchemaValidator/SchemaValidatorProvider.php
  src/SchemaValidator/ValidationContext.php
  src/SchemaValidator/ValidationContextCreator.php
  src/SchemaValidator/ValidationContextCreatorInterface.php
  src/SchemaValidator/ValidationContextInterface.php
  src/api.php
Labels: refactor, schema

#152 Refactor validation
  src/Validation/Conflict/FindsConflictsTrait.php
  src/Validation/ValidationContextCreator.php
  src/Validation/ValidationContextCreatorInterface.php
  src/Validation/ValidationProvider.php
  src/Validation/Validator.php
  src/Validation/ValidatorInterface.php
Labels: refactor, validation

#153 Rename ValueNodeCoercer
  src/Error/ResolutionException.php
  src/Execution/ExecutionProvider.php
  src/Execution/ExecutionStrategy.php
  src/Execution/ValuesResolver.php
  src/Util/UtilityProvider.php
  src/Util/ValueNodeCoercer.php
  src/Util/ValueNodeResolver.php
  tests/Unit/Util/ValueNodeResolverTest.php
Labels: enhancement, refactor, utility

#154 Remove unused Reason class
  src/Validation/Conflict/Conflict.php
  src/Validation/Conflict/Reason.php
Labels: enhancement, refactor, validation

#155 Refactor public API
  src/GraphQL.php
  src/SchemaValidator/Rule/SupportedRules.php
  src/Type/directives.php
  src/Type/introspection.php
  src/Type/scalars.php
  src/Validation/Rule/SupportedRules.php
  src/api.php
  tests/Functional/Execution/ExecutionTest.php
  tests/Functional/Execution/ValuesResolverTest.php
  tests/Functional/IntrospectionTest.php
  tests/Functional/SchemaValidator/ValidationTest.php
  tests/Functional/Validation/Rule/RuleTestCase.php
  tests/Functional/Validation/ValidationTest.php
Labels: public api, refactor

#146 Execution execution tests
  src/Execution/Execution.php
  src/Execution/ExecutionContextBuilder.php
  src/Execution/ExecutionResult.php
  src/Execution/ExecutionStrategy.php
  tests/Functional/Execution/ExecutionTest.php
  tests/Functional/Execution/MutationTest.php
Labels: execution, tests

#158 Refactor helper functions to use the container
  composer.json
  src/Error/SchemaValidationException.php
  src/Error/ValidationException.php
  src/Error/ValidationExceptionInterface.php
  src/Execution/ExecutionProvider.php
  src/Execution/ExecutionStrategy.php
  src/Execution/ValuesHelper.php
  src/Execution/values.php
  src/Language/Node/ArgumentsAwareInterface.php
  src/Language/Node/ArgumentsTrait.php
  src/Language/Node/DirectiveNode.php
  src/Language/Node/FieldDefinitionNode.php
  src/Language/Node/FieldNode.php
  src/Language/utils.php
  src/SchemaBuilder/DefinitionBuilder.php
  src/SchemaBuilder/DefinitionBuilderCreator.php
  src/SchemaBuilder/SchemaBuilderProvider.php
  src/SchemaValidator/Rule/DirectivesRule.php
  src/SchemaValidator/Rule/TypesRule.php
  src/SchemaValidator/SchemaValidatorProvider.php
  src/SchemaValidator/ValidationContext.php
  src/SchemaValidator/ValidationContextInterface.php
  src/Type/Definition/ScalarType.php
  src/Util/NameHelper.php
  src/Util/TypeHelper.php
  src/Util/UtilityProvider.php
  src/Util/ValueHelper.php
  src/Util/helpers.php
  src/Util/typeFromAST.php
  src/Util/utils.php
  src/Validation/Rule/PossibleFragmentSpreadsRule.php
  src/Validation/Rule/VariablesInAllowedPositionRule.php
  src/Validation/RulesProvider.php
  tests/Functional/Execution/ValueHelperTest.php
  tests/Unit/Util/ValueHelperTest.php
Labels: enhancement, refactor

#160 Resolver registry
  README.md
  src/GraphQL.php
  src/SchemaBuilder/DefinitionBuilder.php
  src/SchemaBuilder/DefinitionBuilderCreator.php
  src/SchemaBuilder/DefinitionBuilderCreatorInterface.php
  src/SchemaBuilder/DefinitionBuilderInterface.php
  src/SchemaBuilder/ResolverMapRegistry.php
  src/SchemaBuilder/ResolverRegistryInterface.php
  src/SchemaBuilder/SchemaBuilder.php
  src/SchemaBuilder/SchemaBuilderInterface.php
  src/SchemaBuilder/SchemaBuilderProvider.php
  tests/Functional/Language/SchemaParserTest.php
  tests/Functional/SchemaValidator/ValidationTest.php
Labels: enhancement, refactor, schema

#159 Schema extension
  composer.json
  src/Error/ExtensionException.php
  src/GraphQL.php
  src/Language/LexerUtilsTrait.php
  src/SchemaBuilder/DefinitionBuilder.php
  src/SchemaBuilder/DefinitionBuilderCreator.php
  src/SchemaBuilder/DefinitionBuilderCreatorInterface.php
  src/SchemaBuilder/DefinitionBuilderInterface.php
  src/SchemaBuilder/SchemaBuilder.php
  src/SchemaExtension/ExtensionContext.php
  src/SchemaExtension/ExtensionContextCreator.php
  src/SchemaExtension/ExtensionContextCreatorInterface.php
  src/SchemaExtension/ExtensionContextInterface.php
  src/SchemaExtension/SchemaExtender.php
  src/SchemaExtension/SchemaExtenderInterface.php
  src/SchemaExtension/SchemaExtensionProvider.php
  src/SchemaValidation/Rule/AbstractRule.php
  src/SchemaValidation/Rule/DirectivesRule.php
  src/SchemaValidation/Rule/RootTypesRule.php
  src/SchemaValidation/Rule/RuleInterface.php
  src/SchemaValidation/Rule/SupportedRules.php
  src/SchemaValidation/Rule/TypesRule.php
  src/SchemaValidation/SchemaValidationProvider.php
  src/SchemaValidation/SchemaValidator.php
  src/SchemaValidation/SchemaValidatorInterface.php
  src/SchemaValidation/ValidationContext.php
  src/SchemaValidation/ValidationContextCreator.php
  src/SchemaValidation/ValidationContextCreatorInterface.php
  src/SchemaValidation/ValidationContextInterface.php
  src/Type/Definition/ArgumentsTrait.php
  src/Type/Definition/ExtensionASTNodesTrait.php
  src/Type/Definition/FieldsTrait.php
  src/Type/Definition/ResolveTypeTrait.php
  src/Type/SchemaInterface.php
  src/Validation/ValidationProvider.php
  src/Validation/Validator.php
  tests/Functional/SchemaExtension/ExtensionTest.php
  tests/Functional/SchemaValidation/ValidationTest.php
Labels: enhancement, schema

#165 Rename GraphQL functions
  composer.json
  src/Schema/Building/SchemaBuilder.php
  src/Schema/DefinitionBuilder.php
  src/Schema/Extension/ExtensionContext.php
  src/Schema/Extension/SchemaExtender.php
  src/Type/DirectivesProvider.php
  src/Type/IntrospectionProvider.php
  src/Type/ScalarTypesProvider.php
  src/Type/definition.php
  src/Util/TypeHelper.php
  src/Validation/Rule/VariablesInAllowedPositionRule.php
  tests/Functional/Execution/AbstractPromiseTest.php
  tests/Functional/Execution/AbstractTest.php
  tests/Functional/Execution/DirectivesTest.php
  tests/Functional/Execution/ExecutionTest.php
  tests/Functional/Execution/ListTest.php
  tests/Functional/Execution/MutationTest.php
  tests/Functional/Execution/UnionInterfaceTest.php
  tests/Functional/Execution/ValueHelperTest.php
  tests/Functional/Schema/ExtensionTest.php
  tests/Functional/Schema/SchemaTest.php
  tests/Functional/Schema/ValidationTest.php
  tests/Functional/Type/DefinitionTest.php
  tests/Functional/Type/EnumTypeTest.php
  tests/Functional/Type/IntrospectionTest.php
  tests/Functional/Type/PredicateTest.php
  tests/Functional/Validation/Rule/OverlappingFieldsCanBeMergedRuleTest.php
  tests/Functional/Validation/harness.php
  tests/Unit/Util/ValueHelperTest.php
  tests/utils.php
Labels: public api, refactor

#168 Drop the GraphQL prefix
  src/Execution/ExecutionStrategy.php
  src/Schema/Building/BuilderContext.php
  src/Schema/Building/SchemaBuilder.php
  src/Schema/DefinitionBuilder.php
  src/Schema/Extension/ExtensionContext.php
  src/Schema/Extension/SchemaExtender.php
  src/Type/DirectivesProvider.php
  src/Type/IntrospectionProvider.php
  src/Type/ScalarTypesProvider.php
  src/Type/definition.php
  src/Type/directives.php
  src/Type/scalars.php
  src/Util/TypeHelper.php
  src/Validation/Rule/VariablesInAllowedPositionRule.php
  tests/Functional/Execution/AbstractPromiseTest.php
  tests/Functional/Execution/AbstractTest.php
  tests/Functional/Execution/DirectivesTest.php
  tests/Functional/Execution/ExecutionTest.php
  tests/Functional/Execution/ListTest.php
  tests/Functional/Execution/MutationTest.php
  tests/Functional/Execution/UnionInterfaceTest.php
  tests/Functional/Execution/ValueHelperTest.php
  tests/Functional/Schema/ExtensionTest.php
  tests/Functional/Schema/SchemaTest.php
  tests/Functional/Schema/ValidationTest.php
  tests/Functional/Type/DefinitionTest.php
  tests/Functional/Type/EnumTypeTest.php
  tests/Functional/Type/IntrospectionTest.php
  tests/Functional/Type/PredicateTest.php
  tests/Functional/Type/SerializationTest.php
  tests/Functional/Validation/Rule/OverlappingFieldsCanBeMergedRuleTest.php
  tests/Functional/Validation/harness.php
  tests/Unit/Util/ValueHelperTest.php
Labels: refactor
