Repository digiaonline/graphql-php, pull requests merged in 2018-09, with the labels that each got.

#277 Fix error bubbling for executeFieldsSerially
  src/Execution/Executor.php
Labels: bug, execution

#278 Fix custom scalar example
  README.md
Labels: documentation

#276 Activating Open Collective
  README.md
Labels: documentation

#280 Fix coercing false non-null booleans
  src/Execution/ValuesHelper.php
  tests/Functional/Execution/ValueHelperTest.php
  tests/Functional/Execution/ValuesHelperTest.php
Labels: execution

#282 Fix the incomplete FieldOnCorrectTypeRuleTest testcase
  tests/Functional/Validation/Rule/FieldOnCorrectTypeRuleTest.php
  tests/Functional/Validation/harness.php
Labels: tests

#283 String source builder
  src/GraphQL.php
  src/Language/Parser.php
  src/Language/ParserInterface.php
  src/Language/StringSourceBuilder.php
  src/api.php
  tests/Functional/Language/ParserTest.php
  tests/Functional/Language/StringSourceBuilderTest.php
  tests/Unit/Language/LexerTest.php
Labels: bug, documentation, language, public api, refactor
