Repository digiaonline/graphql-php, pull requests merged in 2019-07, with the labels that each got.

#347 Fix definition printer tests
  src/Language/DirectiveLocationEnum.php
  src/Language/utils.php
  src/Schema/DefinitionPrinter.php
  src/Schema/utils.php
  src/Type/Definition/ArgumentsTrait.php
  src/Type/DirectivesProvider.php
  src/Type/IntrospectionProvider.php
  tests/Functional/Schema/DefinitionPrinterTest.php
Labels: schema, tests

#345 Adds support for asynchronous executions via Promises
  src/Execution/Execution.php
  src/Execution/ExecutionInterface.php
  src/GraphQL.php
  src/api.php
Labels: enhancement, execution, performance, public api

#348 Fix middleware examples (fixes #341)
  README.md
Labels: documentation

#349 Fix null variables and default values
  .idea/inspectionProfiles/Project_Default.xml
  src/Error/GraphQLException.php
  src/Execution/Execution.php
  src/Execution/Strategy/AbstractExecutionStrategy.php
  src/Execution/Strategy/FieldCollector.php
  src/Execution/ValuesResolver.php
  src/Language/Visitor/TypeInfoVisitor.php
  src/Schema/DefinitionBuilder.php
  src/Type/Definition/DefaultValue.php
  src/Util/TypeInfo.php
  src/Util/ValueASTConverter.php
  src/Validation/Rule/ProvidedRequiredArgumentsRule.php
  src/Validation/Rule/SupportedRules.php
  src/Validation/Rule/ValuesOfCorrectTypeRule.php
  src/Validation/RulesProvider.php
  src/Validation/ValidationContext.php
  tests/Functional/Execution/ExecutionTest.php
  tests/Functional/Execution/NonNullTest.php
  tests/Functional/Execution/VariablesTest.php
  tests/Functional/Schema/DefinitionPrinterTest.php
  tests/Functional/Validation/Rule/OverlappingFieldsCanBeMergedRuleTest.php
  tests/Functional/Validation/Rule/ProvidedRequiredArgumentsRuleTest.php
  tests/Functional/Validation/Rule/RuleTestCase.php
  tests/Functional/Validation/Rule/ValuesOfCorrectTypeRuleTest.php
  tests/Functional/Validation/harness.php
  tests/TestCase.php
  tests/Unit/Execution/ExecutionResultTest.php
  tests/Unit/Util/ValueASTConverterTest.php
Labels: bug, enhancement, execution
